@media (pointer: fine) {
    :root {
        --txtsz: 16px; /*default text size*/
        --ts: 20px; /*thumb size*/
        --h: 30px; /*slider height*/
        --l: 10px; /*line thickness*/
    }
}

@media (pointer: coarse) {
    :root {
        --txtsz: 32px; /*default text size*/
        --ts: 30px; /*thumb size*/
        --h: 35px; /*slider height*/
        --l: 15px; /*line thickness*/
    }
}

:root {
    /*Climate Steps colors*/
    --cs_red1: #C63228;
    --cs_red2: #DF8E9B;
    --cs_blue1: #335FAC;
    --cs_blue2: #82A1D0;
    
    --g: 1px; /*the gap in the thumb*/
    --il: 10px; /*Indent added to the left side of options in dropdown*/
    --w: 100%; /*width of the slider*/
    --cw: 425px; /*container width for adv search sections*/
    --bc: #df6060;/*  Background color inside the dropdown*/
    --oc: var(--bc); /*Color outlining the main dropdown box*/
    --bcs: white; /*#4268a3;  background color for sections in the dropdown*/
    --bcq: var(--bcs); /* #365365; /*background color for individual questions in sections*/
    --tc: #335EAD; /*Color of text in dialoge boxes*/
    --b: 20px; /*how thick the outline of the dropdown box is*/
    --br: 10%; /*How much border radius*/
    font-size: var(--txtsz);
}

@media (pointer: fine) {
    .sticky_search {
        position: sticky;
        top: 50vh;
        right: 7.25vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 0;
    }

    button.sticky_search {
        font-size: 6vmin;
        color: whitesmoke;
        background-color: var(--cs_blue1);
        border: 0.5vmin solid var(--cs_red1);
        border-radius: 15px;
        box-shadow: 3px 7px 9px 0px black
    }

    button.sticky_search:hover {
        background-color: var(--cs_blue2);
        border: 0.5vmin solid var(--cs_red2);
    }
}

@media (pointer: coarse) {
    .sticky_search {
        position: sticky;
        top: 0vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin-bottom: 1vh;
    }

    button.sticky_search {
        font-size: 13vmin;
        color: whitesmoke;
        background-color: var(--cs_blue1);
        border: 0.5vmin solid var(--cs_red1);
        border-radius: 15px;
        box-shadow: 3px 7px 9px 0px black;
    }

    button.sticky_search:active {
        background-color: var(--cs_blue2);
        border: 0.5vmin solid var(--cs_red2);
    }
}

.tool_title {
    text-align: center;
    background-color: var(--cs_blue2);
    border-radius: 1em 1em 0em 0em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool_title.small { 
margin-top: 0px;
margin-bottom: 0px;
padding-bottom: 10px;
font-style: italic;
}

.tool_title.large {
padding-top: 10px;
margin-top: 0px; 
margin-bottom: 15%;
}

.container {
    margin-left: 5%;
}

body { background-color: rgb(255, 255, 255); }

.css-checkbox { 
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px; 
width: 1px; 
margin: -1px; 
padding: 0; 
border: 0; 
}

#inputPreview { 
display: flex; 
gap: 20px; 
justify-content: center;	
}

.css-checkbox + label { 
position: relative; 
font-size: 10px; 
cursor: pointer;
display: inline-flex; 
align-items: center; 
height: 27px; 
color: rgb(0, 0, 0); 
}

.css-checkbox + label::before { 
content: " "; 
display: inline-block; 
vertical-align: middle; 
margin-right: 3px; 
width: 25px; 
height: 25px; 
background-color: white; 
border-width: 1px; 
border-style: solid; 
border-color: rgb(204, 204, 204); 
border-radius: 9px; 
box-shadow: none; 
}

.css-checkbox:checked + label::after { 
content: " "; 
background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMDgwMDljIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+"); 
background-repeat: no-repeat; 
background-size: 20px 20px; 
background-position: center center; 
position: absolute; 
display: flex; 
justify-content: center; 
align-items: center; 
margin-left: 0px; 
left: 0px; 
top: 0px; 
text-align: center; 
background-color: transparent; 
font-size: 10px; 
height: 27px; 
width: 27px; 
}

@media (pointer: coarse) {
    .css-checkbox:checked + label::after {
        height: 3em; 
        width: 5em; 
        background-size: auto;
    }

    .css-checkbox + label::before { 
        width: 5em; 
        height: 5em; 
    }
}

.tooltip {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;
}
@media (pointer: coarse) {
    .tooltip { 
        margin-bottom: 1.5%;
    }
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-size: 18px;
    visibility: hidden;
    width: 120px;
    background-color: rgb(229 227 227);
    color: var(--tc);
    text-align: center;
    padding: 5px 0;
    
    position: absolute;
    margin-top: 7.5%;
    z-index: 1;
}
@media (pointer: coarse) {
    .tooltip .tooltiptext { 
        margin-top: 10%;
    }
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
}

/*Hides section's questions so that they can be opened with dropdown functions*/
.section_questions {
display: none;
text-align: center;
}

.all_sections {
border: 1em solid var(--cs_blue1);
border-radius: 0% 0% 1em 1em;
}

.section {
    background-color: var(--bcs);
    margin-top: 5%;
    margin-bottom: 5%;
}

.section_title {
    color: black;
    margin: 0px;
    margin-left: 5%;
    margin-right: 7.5%;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}

.section_title.subtitle {
    font-style: italic;
    font-weight: normal;
}

.subsection_option {
margin-bottom: 60px;
margin-left: var(--il);
margin-right: var(--il);
padding-bottom: 30px;
background-color: var(--bcq);
border-radius: 10px;
}

.subsection_option.wiat {
background-color: var(--bcq);
padding-left: 0px;
padding-top: 20px;
padding-bottom: 10px;
border-radius: 10px;
margin: 15px;
}

.subsection_title {
margin: 0px;
}

.subsection_title.explaination {
    font-style: italic;
    font-weight: normal;
}

.radio_option {
display: block;
padding-top: 10px;
padding-left: var(--il);
}

/*Below is all CSS related to motivation, barrier, and opportunity sliders*/
option {
    flex: 1;
    height: 90%;
    text-align: center;
    margin: 5px 10px;
}

.barrier_slider {
--tc: #e24545; /* thumb color*/
--bc: #e69898; /* background color*/
--fc:  #e69898; /*#8a0000 foreground color*/
appearance: none;
background: none;
cursor: pointer;
overflow: hidden;


width: var(--w);
height: var(--h);
border-radius: 42%;
}

.barrier_slider::-webkit-slider-thumb {
height: var(--ts);
width: var(--ts);
aspect-ratio: 1;
border-radius: 100%;
box-shadow: 0 0 0 50px inset var(--tc);
appearance: none;

border-image-source: linear-gradient(90deg,var(--bc) 50%, var(--fc) 0); 
border-image-slice: 1;
border-image-width: 0 100vw;
border-image-outset: 0 calc(100vw + var(--g));


clip-path: polygon(
    0     calc(50% + var(--l)/2),
    -100vw calc(50% + var(--l)/2),
    -100vw calc(50% - var(--l)/2),
    0     calc(50% - var(--l)/2),
    0 0,100% 0,
    100%  calc(50% - var(--l)/2),
    100vw calc(50% - var(--l)/2),
    100vw calc(50% + var(--l)/2),
    100%  calc(50% + var(--l)/2),
    100% 100%,0 100%
);
}



.barrier_slider::-moz-range-thumb {
height: var(--ts);
width: var(--ts);
aspect-ratio: 1;
border-radius: 100%;
box-shadow: 0 0 0 50px inset var(--tc);
appearance: none;

border-image-source: linear-gradient(90deg,var(--bc) 50%, var(--fc) 0); 
border-image-slice: 1;
border-image-width: 0 100vw;
border-image-outset: 0 calc(100vw + var(--g));


clip-path: polygon(
    0     calc(50% + var(--l)/2),
    -100vw calc(50% + var(--l)/2),
    -100vw calc(50% - var(--l)/2),
    0     calc(50% - var(--l)/2),
    0 0,100% 0,
    100%  calc(50% - var(--l)/2),
    100vw calc(50% - var(--l)/2),
    100vw calc(50% + var(--l)/2),
    100%  calc(50% + var(--l)/2),
    100% 100%,0 100%
);
}

.motivator_slider {
--tc: #46e353; /*#3cbf47 thumb color */
--bc: #81B855; /*#4b6b32 background color*/
--fc:  #81B855; /*#4b6b32 foreground color*/
appearance: none;
background: none;
cursor: pointer;
overflow: hidden;


width: var(--w);
height: var(--h);
border-radius: 42%;
}

.motivator_slider::-webkit-slider-thumb {
height: var(--ts);
width: var(--ts);
aspect-ratio: 1;
border-radius: 100%;
box-shadow: 0 0 0 50px inset var(--tc);
appearance: none;

border-image-source: linear-gradient(90deg,var(--bc) 50%, var(--fc) 0); 
border-image-slice: 1;
border-image-width: 0 100vw;
border-image-outset: 0 calc(100vw + var(--g));


clip-path: polygon(
    0     calc(50% + var(--l)/2),
    -100vw calc(50% + var(--l)/2),
    -100vw calc(50% - var(--l)/2),
    0     calc(50% - var(--l)/2),
    0 0,100% 0,
    100%  calc(50% - var(--l)/2),
    100vw calc(50% - var(--l)/2),
    100vw calc(50% + var(--l)/2),
    100%  calc(50% + var(--l)/2),
    100% 100%,0 100%
);
}



.motivator_slider::-moz-range-thumb {
height: var(--ts);
width: var(--ts);
aspect-ratio: 1;
border-radius: 100%;
box-shadow: 0 0 0 50px inset var(--tc);
appearance: none;

border-image-source: linear-gradient(90deg,var(--bc) 50%, var(--fc) 0); 
border-image-slice: 1;
border-image-width: 0 100vw;
border-image-outset: 0 calc(100vw + var(--g));


clip-path: polygon(
    0     calc(50% + var(--l)/2),
    -100vw calc(50% + var(--l)/2),
    -100vw calc(50% - var(--l)/2),
    0     calc(50% - var(--l)/2),
    0 0,100% 0,
    100%  calc(50% - var(--l)/2),
    100vw calc(50% - var(--l)/2),
    100vw calc(50% + var(--l)/2),
    100%  calc(50% + var(--l)/2),
    100% 100%,0 100%
);
}



.logistic_slider {
--tc: #e0e346;  /*#b8ba3b thumb color*/
--bc: #edeeae; /*#787033 /*background color*/
--fc: #edeeae; /*#787033 foreground color*/
appearance: none;
background: none;
cursor: pointer;
overflow: hidden;


width: var(--w);
height: var(--h);
border-radius: 42%;
}

.logistic_slider::-webkit-slider-thumb {
height: var(--ts);
width: var(--ts);
aspect-ratio: 1;
border-radius: 100%;
box-shadow: 0 0 0 50px inset var(--tc);
appearance: none;

border-image-source: linear-gradient(90deg,var(--bc) 50%, var(--fc) 0); 
border-image-slice: 1;
border-image-width: 0 100vw;
border-image-outset: 0 calc(100vw + var(--g));


clip-path: polygon(
    0     calc(50% + var(--l)/2),
    -100vw calc(50% + var(--l)/2),
    -100vw calc(50% - var(--l)/2),
    0     calc(50% - var(--l)/2),
    0 0,100% 0,
    100%  calc(50% - var(--l)/2),
    100vw calc(50% - var(--l)/2),
    100vw calc(50% + var(--l)/2),
    100%  calc(50% + var(--l)/2),
    100% 100%,0 100%
);
}



.logistic_slider::-moz-range-thumb {
height: var(--ts);
width: var(--ts);
aspect-ratio: 1;
border-radius: 100%;
box-shadow: 0 0 0 50px inset var(--tc);
appearance: none;

border-image-source: linear-gradient(90deg,var(--bc) 50%, var(--fc) 0); 
border-image-slice: 1;
border-image-width: 0 100vw;
border-image-outset: 0 calc(100vw + var(--g));


clip-path: polygon(
    0     calc(50% + var(--l)/2),
    -100vw calc(50% + var(--l)/2),
    -100vw calc(50% - var(--l)/2),
    0     calc(50% - var(--l)/2),
    0 0,100% 0,
    100%  calc(50% - var(--l)/2),
    100vw calc(50% - var(--l)/2),
    100vw calc(50% + var(--l)/2),
    100%  calc(50% + var(--l)/2),
    100% 100%,0 100%
);
}    


datalist {
display: flex;
flex-direction: row;
justify-content: space-between;
writing-mode: horizontal-tb;
width: var(--w);
margin-top: 0px;
}

@media (pointer: coarse) {
    .adv_search {
        color: var(--tc);
        position: relative;
        z-index: 1;
    }
}

@media (pointer: fine) {
    .adv_search { 
        margin-left: 25%;
        margin-right: 25%;
        color: var(--tc);
        
        position: relative;
        z-index: 1;
        }
}

.adv_search_embeded_dropdown {
display: none;
background-color: var(--bc);
color: var(--tc);
padding: 0px;
padding-top: 10px;
margin: 0;
}

/*Must prefix with "div" to inc specificity; else .show is overidden*/
div.show { display:block; }

.hidden { display: none; }

.adv_search_drop_chevron {
margin: 0px;
text-align: center;
font-size: 3em;
padding-bottom: 5px;
color: var(--tc);
cursor: pointer;
}

/*Not actually a chevron: this is used to make the "More options" at the bottom
of each section clickable*/
.adv_search_drop_chevron.small_font {
margin-top: -35px;
font-size: 1.5em;
margin-bottom: 30px;
font-style: italic;
text-decoration: underline;
}

.adv_search_drop_chevron:hover {
color:rgb(144, 144, 144);
}

.adv_search_checkbox {
align-self: center;
align-items: center;
font-size: 24px;
}

/*Used with the checkbox to toggle if search options are to be
used in a user's search*/
.disabled_element {
display: none;
}

/*Used to show a particular slider is disabled by greying out the title*/
.disabled_title {
color: grey;
}


.bold_tick {
font-weight: bolder;
font-size: 2em;
}

.block {
display: block
}